/* src/styles/Login.css */
.login-bg {
  min-height: 100vh;
  background: radial-gradient(circle farthest-side at 65% 0%, rgba(21,27,38,0.8) 0%, #181c23 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-card {
  background: rgba(30, 34, 42, 0.97);
  border-radius: 20px;
  box-shadow: 0 10px 30px 0 rgba(0,0,0,0.4);
  min-width: 370px;
  padding: 40px 32px 32px 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-header {
  height: 200px;
  display: block;
  align-items: center;
  margin-bottom: 24px;
}

.login-logo {
  width: 400px;
  height: 400px;
  display: block;
  margin-top: -100px;
}

.login-card h2 {
  color: #fff;
  font-weight: 700;
  margin-bottom: 6px;
  letter-spacing: 1px;
}

.login-input-group {
  position: relative;
  margin-bottom: 18px;
  width: 100%;
}

.login-icon {
  position: absolute;
  left: 8px;
  top: 50%;
  transform: translateY(-50%);
  color: #5476fa;
  font-size: 19px;
}

.login-input-group input {
  padding: 10px 10px 10px 38px;
  border-radius: 7px;
  border: none;
  background: #232730;
  color: #fff;
  font-size: 15px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 2px;
}

.login-card label {
  color: #bfc9dc;
  font-size: 13px;
  margin-bottom: 2px;
  margin-top: 4px;
  font-weight: 500;
}

.login-btn {
  background: #3571f9;
  color: #fff;
  border: none;
  padding: 12px 0;
  border-radius: 8px;
  width: 100%;
  font-size: 17px;
  font-weight: 600;
  box-shadow: 0 2px 16px 0 #3571f9aa;
  margin-top: 16px;
  transition: background 0.2s;
}

.login-btn:hover {
  background: #2751b7;
}

.login-error {
  color: #ef7272;
  padding: 4px 0 0 0;
  font-size: 14px;
  text-align: center;
}
